.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  align-items: center;
  width: 100%;
}

.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  gap: 64px;
  margin-top: 1rem;
  padding: 0 16px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
  justify-content: center;
}

@media (max-width: 600px) {
  .page {
    padding: 16px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
